In [1]:
import pandas as pd
import glob

In [10]:
path = r'C:\Users\user\Desktop\Winter data\Winter ICA\feature\O2' # use your path
all_files = glob.glob(path + "/*.csv")

In [11]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li,axis=0,ignore_index=False,sort=True)
#frame = pd.concat(li,sort=False)
frame

,alpha_ey_cl,alpha_ey_op,alpha_ph1,alpha_ph2,beta_ey_cl,beta_ey_op,beta_ph1,beta_ph2,ch_name,sub ID
0,0.046115,0.057736,0.061155,0.052793,0.042248,0.039712,0.038438,0.041604,O2,131220192
0,0.095471,0.066303,0.074363,0.069348,0.029700,0.037101,0.035555,0.037192,O2,161220191
0,0.105053,0.058642,0.096625,0.102961,0.026521,0.039165,0.029580,0.027203,O2,161220192
0,0.049631,0.082311,0.081546,0.077045,0.043068,0.033384,0.032518,0.034944,O2,191220192

In [7]:
frame.to_csv(r'C:\Users\user\Desktop\Winter data\Winter ICA\feature\O2(com).csv')

In [ ]:
path =r'C:\Users\user\Desktop\phase3and 4\ph34F4.csv'
df = pd.read_csv(path)
df

In [ ]:
df1= df.loc[:,['alpha pha_31']]
df11= df.loc[:,['alpha pha_32']]
df2= df.loc[:,['alpha pha_41']]
df22= df.loc[:,['alpha pha_42']]
df1

In [ ]:
alpha_dif_new3 =  df11.div(df1, fill_value=0)
alpha_dif_new4 =  df22.div(df2, fill_value=0)
alpha_dif_new4